<script>$('.dropdown-toggle').dropdown()</script>
<div class="row ">
               
                  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                        <strong>   COMENTARIOS? </strong>  
                            </div>
                            <div class="panel-body">
                                <form role="form">
                                       <br>
                                     <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                                            <input class="form-control" placeholder="nombre" type="text">
                                        </div>
                                                                              <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                                            <input class="form-control" placeholder="Teléfono" type="text">
                                        </div>
                                        
                                         <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                                            <input class="form-control" placeholder="Taxista" type="text">
                                        </div>
                                        <div>
                                            <select> tipo consulta
                                            <option value=" ">Tipo Consulta</option>
                                          <option value="volvo">Volvo</option>
                                          <option value="saab">Saab</option>
                                          <option value="opel">Opel</option>
                                          <option value="audi">Audi</option>
                                        </select>
                                        </div>
                                        </br>
                                        <div> <INPUT id=text1 style="WIDTH: 228px; HEIGHT: 98px" size=32 name=text1> </div>
                                       
                                   
                                                </br>
                                        <a href="<%= @link_to_dashboard %>" class="btn btn-primary ">Enviar comentario</a>
                                       
                                    </form>
                            
                            
                           
                        </div>
                    </div>
                
                
        </div>