UNa tabla con las rutas correspondientes


<table class="table">
    <tr>
        <th>Taxista</th>    
        <th>Marca de carro</th>    
        <th>punto inicio</th>  
        <th>punto final</th> 
           
    </tr>
    
     <tr>
        <th>pepe</th>    
        <th>huyndai</th>    
        <th>san isidro</th>    
             <th>Monterrico</th>    
    </tr>

</table>