<h2>Servicios terminados por chofer</h2>
            
            
            <label for="seleccionar">Seleccionar chofer: </label>
            <select class="form">
                <option>Juan Perez</option>
                <option>Pedro Garcia</option>
                <option>Oscar sanz</option>
            </select>
            
            
<table class="table">
    <tr>
        <th>Fecha</th>    
        <th>Hora Solicitud</th>    
        <th>Origen</th>    
        <th>Destino</th>    
        <th>Chofer</th>    
        <th>Asignar</th>    
    </tr>

    
    <tr>
        <td>2015-09-06</td>    
        <td>08:00</td>    
        <td>origen</td>    
        <td>destino</td>    
        <td>Precio</td>    
        <td>
            Juan Perez
        </td>    
        <td><button class="btn btn-success btn-sm">Asignar</button></td>    
    </tr>

    <tr>
        <td>2015-09-06</td>    
        <td>08:00</td>    
        <td>origen</td>    
        <td>destino</td>    
        <td>Precio</td>    
        <td>
            Juan Perez
        </td>    
        <td><button class="btn btn-success btn-sm">Asignar</button></td>    
    </tr>

    <tr>
        <td>2015-09-06</td>    
        <td>08:00</td>    
        <td>origen</td>    
        <td>destino</td>    
        <td>Precio</td>    
        <td>
            Juan Perez
        </td>    
        <td><button class="btn btn-success btn-sm">Asignar</button></td>    
    </tr>

</table>