<h2>
    Últimos servicios
</h2>
<table class="table">
    <tr>
        <th>Fecha</th>    
        <th>Hora</th>    
        <th>Origen</th>    
        <th>Destino</th>    
        <th>Pasajero</th>    
        <th>Ver</th>    
    </tr>
    <tr>
        <td>2015-09-06</td>    
        <td>08:00</td>    
        <td>origen</td>    
        <td>destino</td>    
        <td>pasajero</td>    
        <td><button class="btn btn-info btn-sm">comentario</button></td>    
    </tr>

    <tr>
        <td>2015-09-06</td>    
        <td>08:00</td>    
        <td>origen</td>    
        <td>destino</td>    
        <td>pasajero</td>    
        <td><button class="btn btn-info btn-sm">comentario</button></td>    
    </tr>

    <tr>
        <td>2015-09-06</td>    
        <td>08:00</td>    
        <td>origen</td>    
        <td>destino</td>    
        <td>pasajero</td>    
        <td><button class="btn btn-info btn-sm">comentario</button></td>    
    </tr>

    <tr>
        <td>2015-09-06</td>    
        <td>08:00</td>    
        <td>origen</td>    
        <td>destino</td>    
        <td>pasajero</td>    
        <td><button class="btn btn-info btn-sm">comentario</button></td>    
    </tr>

</table>