<h2>
    servicios pendientes
</h2>
<table class="table">
    <tr>
        <th>N°</th>    
        <th>Origen</th>    
        <th>Destino</th>    
        <th>Pasajero</th>    
        <th>Acción</th>    
    </tr>
    <tr>
        <td>1</td>    
        <td>Origen</td>    
        <td>Destino</td>    
        <td>Pasajero</td>    
        <td><button class="btn btn-success btn-sm">Ejecutar</button></td>    
        <td><button class="btn btn-danger btn-sm">Cancelar</button></td>    
    </tr>
    <tr>
        <td>2</td>    
        <td>Origen</td>    
        <td>Destino</td>    
        <td>Pasajero</td>    
        <td><button class="btn btn-success btn-sm">Ejecutar</button></td>    
        <td><button class="btn btn-danger btn-sm">Cancelar</button></td>    
    </tr>
    <tr>
        <td>3</td>    
        <td>Origen</td>    
        <td>Destino</td>    
        <td>Pasajero</td>    
        <td><button class="btn btn-success btn-sm">Ejecutar</button></td>  
        <td><button class="btn btn-danger btn-sm">Cancelar</button></td>      
    </tr>

</table>